.modalTrigger{
  font-size: 18px;
  color: #fff;
  margin: 5px;
}

.committee__jump {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto 100px auto;
    max-width: 1000px;
  }
  
  .committee__jumpbox {
    align-items: center;
    background: #cda052;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    min-width: 20%;
    padding: 8px 10px;
    text-align: center;
  }

  .committee__tabs {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

.committee {
  box-sizing: border-box;
  margin: 80px auto 80px auto;
  padding: 0 20px;
  width: 50%;


}

.committee__header{
  padding: 50px 20px 12px 20px;
  background-color: #003b5c;
  border-bottom: 1px solid #fff;
}

.committee__row { 
  background-color: none;
  border: 2px solid #003b5c;
  color: #003b5c;
 /*  padding: 20px 20px 5px 20px; */
  font-size: 19px; 
  text-align: center;
  padding-bottom: 30px;
}

.committee__row a{
  color: #cda052;
}

.committee__content {
  background-color: #003b5c;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto 60px auto;
  max-height: 90vh;
  max-width: 1200px;
  overflow-y: auto;
  padding: 16px 16px 40px 16px;
  width: 45%;
}

.committee__title {
  display: block;
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 22px;
}

.committee__title a {
  color: #cda052;
}
.committee__subtitle {
  display: block;
  margin: 30px 0 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.committee__text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.committee__text a {
  color: #cda052;
}
.committee__toggler {
  width: 30%;
  border: none; 
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  background: #cda052;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  min-width: 20%;
  padding: 8px 10px;
  text-align: center;
}

.committee__toggler:disabled {
  color: rgba(205, 160, 82, 0.5);
  cursor: text;
}

#committee__lists {
  margin: 30px auto 0 auto;
  width: 75%;
}

.committee__list {
  border-radius: 12px;
  display: none; 
  overflow: hidden;
  
}

.committeeOpen .committee__list,
.committee__list.committeeOpen {
  display: block;
}

.assemblyMenu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 0;
  max-width: 10%;
  margin: 0 auto;
}

@media (min-width:800px){
  .committee__toggler{
    width: 48%;
  }
}
