.contact {
  text-align: center;
}

.contact__title {
  color: #cda052;
  font-weight: bold;
  text-transform: uppercase;
}

.contact__text {
  color: #003b5c;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

.contact__text a {
  color: #cda052;
  font-weight: bold;
}

.contact__address {
  background-color: #003b5c;
  border-radius: 14px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 30px auto;
  padding: 24px;
  text-align: left;
  width: auto;
}